<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel="manifest" href="./manifest.json")
    <!-- Tell the browser it's a PWA -->
    meta(name="mobile-web-app-capable" content="yes")
    <!-- Tell iOS it's a PWA -->
    meta(name="apple-mobile-web-app-capable" content="yes")
    <!-- Make sure theme-color is defined -->
    meta(name="theme-color" content="#536878")
    title Универсальный таймер
    link(rel="shortcut icon", href="./favicon1.png", type="image/x-icon")
  body
    #root
      .preloader
        h1 Загрузка страницы. Пожалуйста подождите...